.login-page{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20211118/pngtree-technology-round-dashboard-image_908915.jpg);
    /* display: flex;
    justify-content: center; */
    height: 100vh;
    /* align-items: center; */
}
.login-inner{
    background-color: #0000005e;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f9ff99;
    width: 50%;
    min-width: 300px;
    height: 300px;
    padding: 24px;
    border-radius: 10px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .alert {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
  }
  