.login-page{
  background-image: url(https://wallpaperaccess.com/full/2314950.jpg);
  /* display: flex;
  justify-content: center; */
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  /* object-fit: scale-down; */
  
  /* align-items: center; */
  /* background-color: #222D32; */
}
.login-inner{
  background-color: #0000005e;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.signup-link {
  text-align: center;
  margin-top: 1rem;
  color: white;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000c2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 30%;
  min-width: 300px;
  height: auto;
  padding: 35px;
  border-radius: 10px;
}
.key{
  display: flex;
  justify-content: center;
  height: 100px;
  font-size: 80px;
  line-height: 100px;
  /* color: -webkit-linear-gradient(#27EF9F, #0DB8DE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #0DB8DE;
}

.form-heading{
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  margin-top: 15px;
  text-align: center;
  font-size: 34px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #ECF0F5;
}

.login-label {
  font-size: 16px;
  color: white;
  font-weight: bold;
  letter-spacing: 2 px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.login-input {
  padding: 10px;
  background-color: #1A2226;
  border: none;
  border: 2px solid #0DB8DE;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 16px;
  color: #ECF0F5;
}

.login-btn {
  background-color: #027195;
  border-color: #0DB8DE;
  color: white;
  border-radius: 0px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

.login-btn:hover {
  background-color: white;
  right: 0px;
  color: #0DB8DE;
  transition: background-color 0.2s ease-in-out;
}


.alert {
  background-color: #f44336;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}
.hints{
  margin-top: 5px;
  margin-bottom: -15px;
}
.hints>span{
  color: green;
   font-size: 20px;
   font-weight: bolder;
}